<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="Impl" class="com.Damera.User.UserDAOImpl"></bean>
	
	<bean id="Service" class="com.Damera.User.UserService">
	<constructor-arg name="dao" ref="Impl"></constructor-arg>
	</bean>


</beans>
